@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
    margin: 0;
    background-color: rgb(18, 18, 18);
}

.index-body{
    height: 900px;
}

body::-webkit-scrollbar {
    display: none;
}

.section-1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.nav {
    background: rgb(18, 18, 18);
    z-index: 2;
    position: fixed;
    top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    transition-duration: 300ms;
    transition-property: opacity;
}

.nav, .nav-left, .nav-right {
    display: flex;
}

.nav-left {
    width: 24vw;
    justify-content: space-between;
    
}

.nav-right {
    height: fit-content;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
}

.nav-right p{ 
    margin: 0;
}

.nav-right:hover{
    border: 1px solid white;
    transition: all;
    animation: fadeIn;
    transition-duration: 400ms;
}

.logo-container {
    position: fixed;
    width: 60vw;
    height: 200px;
    background-color: rgb(219, 219, 219);
    mask-image:url('images/web_logo_bold.svg');
    mask-size: contain; 
    mask-repeat: no-repeat;
    -webkit-mask-image: url('images/web_logo_bold.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    transition: color 300ms ease-in;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
}

.text-1 {
    position: fixed;
    color: rgb(219, 219, 219);
    font-family: "Poppins";
    font-size: xx-large;
    opacity: 0;
    visibility: hidden;
    animation-name: fadeOut;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
}

.explore-button {
    position: fixed;
    margin-top: 160px;
    padding: 10px 20px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 23em;
    color: rgb(239, 239, 239);
    font-family: "Poppins";
    font-weight: 400;
    font-size: x-large;
    letter-spacing: 1px;
    opacity: 0;
    visibility: hidden;
    animation-name: fadeOut;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
}

.menu-container { 
    position: relative;
    margin-top: 30px;
}

.single-menu-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left:0px;
    padding-right: 60px;
    width: 80vw;
    overflow-x: scroll;
}

.single-menu-nav::-webkit-scrollbar {
    display: none;
}



.back-button {
    width: 164px;
    padding: 12px 8px;
    margin: 0px 16px;
    text-align: center;
    font-family: 'Poppins';
    font-size: medium;
}

.menu-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left:65px;
    padding-right: 60px;
    width: 80vw;
    overflow-x: scroll;
}


/* Hides the scrollbar while maintaining scrolling behaviour */
.menu-nav::-webkit-scrollbar {
    display: none;
}

.menu-nav-item {
    width: 164px;
    padding: 12px 8px;
    margin: 0px 16px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 24em;
    text-align: center;
    font-family: 'Poppins';
    font-size: medium;
}

.menu-overlay {
    width: 120px;
    height: 52px;
    position: absolute;
    top: 0;
}
.overlay-left {
    left: 55px;
    float: left;
    background:linear-gradient(to right, rgb(18, 18, 18), transparent);

}

.overlay-right {
    right:100px;
    float: right;
    background:linear-gradient(to right, transparent, rgb(18, 18, 18));
}

.section-2::before{
    transform: translateY(200px);
}

.section-2 {
    padding-top: 80px;
    opacity: 1;
    overflow-x: hidden;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
}
.section-2::after{
    transform: translateY(0px);
}
.food-menu-container {
    width: 100vw;
    height: 100vh;
    margin: 40px 65px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
}

.food-menu-item {
    margin: 20px 32px;
    display: inline;
    width: fit-content;
    
}

.food-item-image{
    width: 300px;
    height: 200px;
    /* border: 1px solid rgb(219, 219, 219); */
    border-radius:  24px;
    display: block;
    object-fit: cover;
}

.food-item-name {
    color: rgb(219, 219, 219);
    font-family: "Poppins";
    font-size: large;
    text-align: center;
}

.food-title {
    color: white;
    /* margin-left: 96px; */
    text-align: center;
    font-family: 'Poppins';
    font-size: xx-large;
}

/* ------------Common classes------------ */

.link-format{
    text-decoration: none;
    color: rgb(219, 219, 219);
}

.hide-visibility {
    visibility: hidden;
}

.selected-menu-item{
    transition: all;
    height: fit-content;
    border-bottom: 1px solid white;
}

.selected-menu-item p {
    margin-bottom: 4px;
}

/* ----------Transition classes---------- */

.logo-scrolled-hidden {
    animation-name: fadeOut;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
    opacity: 0;
}

.text-1-scrolled {
    visibility: visible;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
    opacity: 1;
}

.explore-button-scrolled {
    visibility: visible;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
    opacity: 1;
}

/* .section-2-visible {
    position: absolute;
    top: 80px;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
    opacity: 1;
} */

/* ----------Keyframes---------- */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75%{
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}